/* Minimal Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[data-theme='dark'] {
  --background-color: #171616;
  --text-color: #f3f4f6;
  --primary-color: #b8cd4a;
  --secondary-color: #171616;
  --highlight-color: #aac139;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Faculty Glyphic', sans-serif;
  line-height: 1.6;
  background-color: var(--background-color, #f4f4f9);
  color: var(--text-color, #333);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

a {
  color: var(--highlight-color, #b8cd4a);
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}